/** Update design **/

body {
  padding: 50px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #3399ff;
}


.largeText {
  font: 20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #0099cc;
}